    <h3>Estadísticas</h3>
    <p>Número de preguntas: <%=statistics.countPreguntas%></p>
    <p>Número de comentarios: <%=statistics.countComentarios%></p>
    <p>Media de comentarios: <%=statistics.mediaComentarios%></p>
    <p>Preguntas con comentarios: <%=statistics.pregComm%></p>
    <p>Preguntas sin comentarios: <%=statistics.pregNoComm%></p>
    